<div class="table-container">

    <div class="tbl-header-contaner">
        <div fxFlexLayout="row" fxLayoutAlign="start center">
            <div fxFlex class="tbl-h-name">Reimbursement</div>
            <mat-form-field appearance="outline">
                <input matInput placeholder="Placeholder" [(ngModel)]="search" placeholder="Search" (input)="onSearchChange($event)">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <button class="btn-create" mat-button (click)="openCUDialog('Create')">Create</button>
        </div>
    </div>

      <div class="tbl-container">
        <table mat-table [dataSource]="dataSource" class="tbl-style ">
            <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns; let i = index">
                <th mat-header-cell *matHeaderCellDef>{{ capitalizeFirstLetter(column) }}</th>
                <td mat-cell *matCellDef="let emp">
                    <ng-container *ngIf="column == 'type'">
                        {{ dataColumnChecker(emp[column])}}
                    </ng-container>
                    <ng-container *ngIf="column == 'totalAmount'">
                        <p>{{emp[column] | currency:'PHP'}}</p>
                    </ng-container>
                    <ng-container *ngIf="column == 'status'">
                      <ng-container *ngIf="emp.status == 'Approved' || emp.status == 'Rejected'; else otherStatus">
                          <p [tooltip]="showTooltip(emp)"> {{ dataColumnChecker(emp[column])}}</p> <!--Light blue with underline -->
                      </ng-container>
                      
                      <ng-template #otherStatus>
                          <p>{{ dataColumnChecker(emp[column])}}</p>
                      </ng-template>
                    </ng-container>
                    <ng-container *ngIf="column == 'reviewer'">
                        {{ dataColumnChecker(emp[column])}}
                    </ng-container>
                    <ng-container *ngIf="column == 'transactionDate'">
                        {{ dataColumnChecker(emp[column]) | date : "MM/dd/YYYY"}}
                    </ng-container>
                    <ng-container *ngIf="column == 'requestedDate'">
                        {{ dataColumnChecker(emp[column]) | date : "MM/dd/YYYY"}}
                    </ng-container>
                    <ng-container *ngIf="column == 'action'">
                        <button mat-button class="btn-update" (click)="openCUDialog('Update',emp)">Update</button> &nbsp;
                        <button mat-button class="btn-delete" (click)="openCUDialog('Delete',emp)">Delete</button>
                    </ng-container>
                </td>
            </ng-container>
      
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let emprow; columns: displayedColumns"></tr>
        </table>
        <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizes" [showFirstLastButtons]="true" [length]="dataCount" (page)="page($event)"></mat-paginator>
      </div>
      
</div>