.right {
    position: absolute;
    right: 0px;
    width: 150px;
}

.margin-bottom{
    margin-bottom: 25px;
}

.margin-top{
    margin-top: 25px;
}

.left {
    float: left;
    width: 150px;   
  }

.btn-create-theme {
    background-color: green;
    color: white !important;
}

.btn-update-theme {
    background-color: darkblue;
    width: 120px;
    padding: 3px;
    color: white !important;
}

.btn-delete-theme {
    background-color: darkred;
    width: 120px;
    padding: 3px;
    color: white !important;
}

.example-button {
    margin-top: 16px;
  }
  
  .example-tooltip-red {
    background: #b71c1c;
  }
  