.btn-create-theme {
    background-color: green;
    color: white !important;
}

.btn-save-theme {
    background-color: darkblue;
    width: 120px;
    padding: 3px;
    color: white !important;
}

.btn-cancel-theme {
    background-color: darkred;
    width: 120px;
    padding: 3px;
    color: white !important;
}

.btn-close-theme {
    background-color: white;
    width: 120px;
    padding: 3px;
    color: darkblue !important;
}

//

.modal-container {
    padding: 0;
    font-family: Poppins;

    .header-title { 
        font-size: 15px !important;
        margin-bottom: 1em;
    }
}


.btn-save, .btn-close, .btn-cancel {
    font-size: 12px;
    color: white !important;
    font-family: Poppins;
    margin-right: 5px;
    border-radius: 7px;
    padding: 0 1em;
    min-width: 100px;
}

.btn-save {
    background-color: #007bed;
}

.btn-close, .btn-cancel {
    background-color: #ededed;
    color: black !important;
}

.del-container {
    padding: 0 1.5em;
    width: 100%;
    height: -webkit-fill-available;
}

.del-label { 
    font-family: Poppins;
    margin-bottom: 1em;
}

.w-100 { width: 100%;}
.modal-header {
    font-family: Poppins;
    margin-bottom: 1em;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 1em;
    padding: 1em;
    font-weight: bold;

}

.modal-deets { padding: 1.5em}
//
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}