.btn-create-theme {
    background-color: green;
    color: white !important;
}

.btn-save-theme {
    background-color: darkblue;
    width: 120px;
    padding: 3px;
    color: white !important;
}

.btn-cancel-theme {
    background-color: darkred;
    width: 120px;
    padding: 3px;
    color: white !important;
}

.btn-close-theme {
    background-color: white;
    width: 120px;
    padding: 3px;
    color: darkblue !important;
}